* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --body_padding: 5px;
    --panel_width: 200px;
    --panel_height: calc(100% - var(--body_padding) * 2);

    --panel_width: 200px;
    --panel_height: calc(100% - var(--body_padding) * 2);

    --bar_width: calc(100% - var(--bar_left) * 2);
    --bar_height: 30px;

    --bar_width: calc(100% - var(--bar_left) * 2);
    --bar_height: 30px;
    --bar_left: calc(var(--panel_width) + var(--body_padding) * 2 + 40px);

    --main_back: rgba(0, 0, 0, 0.6);
    --light_transition: 600ms ease-in-out;

    /* colors */
    --text_light_color: rgb(160, 160, 160);
    --text_dark_color: rgb(30, 30, 30);
    
    --back_light: rgba(255, 255, 255, 0.397);
    --back_dark: rgba(0, 0, 0, 0.4);

    --icon_light: rgb(131, 131, 131);

    --selected_back: rgb(187, 243, 245);
    --hover_back: rgba(187, 243, 245, 0.5);

    --darkCrystal: rgba(30, 30, 30, 0.8);
    --darkCrystal_light: rgba(0, 0, 0, 0.2);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}