* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --body_Padding: 5px;
    --panel_Width: 200px;
    --panel_Height: calc(100% - var(--body_Padding) * 2);
    --bar_Width: calc(100% - (var(--panel_Width) * 2) - 40px);
    --bar_Height: 30px;
    --main_Back: rgba(0, 0, 0, 0.6);
    --light_Transition: 600ms ease-in-out;

    /* colors */
    --darkCrystal: rgba(30, 30, 30, 0.8);
}