body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: grey;

    .panelMenu {
        position: absolute;
        top: var(--body_padding);
    }

    .panelLeft {
        left: var(--body_padding);
    }

    .panelRight {
        right: var(--body_padding);
    }

    .topBar {
        top: var(--body_padding);
        left: var(--bar_left);
    }

    .bottomBar {
        bottom: var(--body_padding);
        left: var(--bar_left);
    }

    .titlesBox {
        bottom: calc(var(--body_padding) - 8px);
        left: calc(var(--bar_left) + var(--bar_margin) / 2);
    }

    .titlesBox_left {
        bottom: calc(var(--body_padding) - 8px);
        left: calc(var(--body_padding) + var(--bar_margin));
    }

    .componentContainer {
        width: var(--componentContainer_width);
        height: var(--componentContainer_height);
        border-radius: var(--componentContainer_radius);
        box-shadow: 5px 5px 20px rgb(28, 28, 28);
        opacity: var(--componentContainer_opacity);
        transform: scale(var(--componentContainer_scale));
        overflow: hidden;
        transition: var(--componentContainer_transition);

        .backLayer {
            background: var(--backLayer_back);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: var(--backLayer_opacity);
            transition: var(--componentContainer_transition);
        }

        .blurLayer {
            backdrop-filter: blur(var(--blurLayer_filter));
            transition: var(--componentContainer_transition);
        }
    }

    .componentBox {
        opacity: 0;
        transition: var(--componentContainer_transition);
    }

    .componentBox_visible {
        opacity: 1;
    }
}