body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background: grey;
/*     background: url("https://wallpapers.com/images/hd/scenic-view-of-faroe-islands-jdj06pr46tgkob59.jpg");
 */
    .panelMenu {
        position: absolute;
        top: var(--body_padding);
    }

    .panelLeft {
        left: var(--body_padding);
    }

    .panelRight {
        right: var(--body_padding);
    }

    .bars {
        position: absolute;
    }

    .topBar {
        top: var(--body_padding);
        left: var(--bar_left);
    }
}